<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
        metadata-complete="true"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <context-param>
    <param-name>juzu.run_mode</param-name>
    <param-value>live</param-value>
  </context-param>

    <!--<display-name>team-f-addon-webapp</display-name>

    <context-param>
      <param-name>org.exoplatform.frameworks.jcr.command.web.fckeditor.digitalAssetsWorkspace</param-name>
      <param-value>collaboration</param-value>
    </context-param>

    <context-param>
      <param-name>org.exoplatform.frameworks.jcr.command.web.fckeditor.digitalAssetsPath</param-name>
      <param-value>/Digital Assets/</param-value>
    </context-param>

    <context-param>
      <param-name>CurrentFolder</param-name>
      <param-value>/Digital Assets/</param-value>
    </context-param>

    &lt;!&ndash; ================================================================== &ndash;&gt;
    &lt;!&ndash;   RESOURCE FILTER TO CACHE MERGED JAVASCRIPT AND CSS               &ndash;&gt;
    &lt;!&ndash; ================================================================== &ndash;&gt;
    <filter>
      <filter-name>ResourceRequestFilter</filter-name>
      <filter-class>org.exoplatform.portal.application.ResourceRequestFilter</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>ResourceRequestFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>


    &lt;!&ndash; ================================================================== &ndash;&gt;
    &lt;!&ndash;           LISTENER                                                 &ndash;&gt;
    &lt;!&ndash; ================================================================== &ndash;&gt;
    <listener>
      <listener-class>org.exoplatform.container.web.PortalContainerConfigOwner</listener-class>
    </listener>
    &lt;!&ndash; ================================================================== &ndash;&gt;
    &lt;!&ndash;           SERVLET                                                  &ndash;&gt;
    &lt;!&ndash; ================================================================== &ndash;&gt;
    <servlet>
      <servlet-name>GateInServlet</servlet-name>
      <servlet-class>org.gatein.wci.api.GateInServlet</servlet-class>
      <load-on-startup>0</load-on-startup>
    </servlet>
    &lt;!&ndash;  =================================================================  &ndash;&gt;
    <servlet-mapping>
      <servlet-name>GateInServlet</servlet-name>
      <url-pattern>/gateinservlet</url-pattern>
    </servlet-mapping>-->
</web-app>